@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: poppins;
}

*::selection {
    background-color: #68279A;
}

body {
    background-color: rgb(16, 16, 16);
    height: 100vh;
}

.adicionar {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    outline: none;
    background-color: #1f1f1f;
    color: #e1e1e1;
    cursor: pointer;
    border: none;
    padding: 0 10px 0 10px;
}

.adicionar:hover {
    background-color: #555;
}

.friends {
    height: fit-content;
    max-height: 200px;
    width: 150px;
    position: fixed;
    border: 1px #262424 solid;
    top: 90px;
    right: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#tituloFriends {
    font-size: medium;
    margin: 10px 0;
}

.amigo {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.amigo a {
    text-decoration: none;
    width: 50%;
    white-space: nowrap;                  
    overflow: hidden;
    text-overflow: ellipsis;
}

.picFriends {
    height: 46px;
    width: 46px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 100%;
}

.escreveComentario {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10px;
    gap: 4px;
}

#textComentario {
    resize: none;
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: 1px solid #1f1f1f;
    color: #e1e1e1;
    padding: 10px 0 0 10px;
    background-color: rgb(16, 16, 16);
}

.buttCom {
    border-radius: 4px;
    color: #e1e1e1;
    border: none;
    width: 10%;
    font-size: large;
    height: 30px;
    cursor: pointer;
    background-color: #1f1f1f;
}

.buttCom:hover {
    background-color: #555;
    color: #e1e1e1;
}

.comeT {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 250px;
    font-size: small;
    overflow-y: auto;
}

.osComentarios {
    text-align: start;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #262424;
    margin-top: 8px;
    border-radius: 20px;
    font-size: small;
}

.nomeComentador {
    color: #27709a;
    text-decoration: none;
}


.cxbt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 70px;
    left: 20px;
}

/* Bagulho novo */

.todos {
    width: 700px;
    padding-bottom: 20px;
    border-radius: 30px;
    background: rgb(16,16,16);
    background: linear-gradient(0deg, rgb(16 16 16) 0%, rgb(19, 19, 19) 25%, rgb(25, 25, 25) 50%, rgb(37, 37, 37) 75%, rgb(52, 51, 51) 100%);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    margin: 0 0 20px 0;
}

.nome {
    font-size: larger;
    height: fit-content;
    width: fit-content;
    border-radius: 14px;
    color: #e1e1e1;
    font-weight: 300;
}

.nomeefoto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
    height: fit-content;
    padding: 0 30px;
    margin-top: -100px;
}

.info {
    font-size: small;
    background-color: #1f1f1f;
    min-width: 30px;
    min-height: 40px;
    max-width: 100%;
    height: fit-content;
    padding: 10px 10px;
    border-radius: 5px;
    white-space: break-spaces;
    word-break: break-word;
    text-align: justify;
    font-weight: 300;
}

.nomeeinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.outros {
    font-size: small;
    padding: 10px;
    min-height: 40px;
    height: fit-content;
    width: 150px;
    border-radius: 5px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foto {
    height: 130px;
    width: 130px;
    background-size: cover;
    border-radius: 100%;
    user-select: none;
    border: 1px #1e1e1e solid;
    background-color: #1f1f1f;
    outline: none;
}

/*  */

.explorar {
    text-decoration: none;
    font-size: 40px;
    color: #e1e1e1;
    left: 20px;
    top: 140px;
}

/*corpo*/

.corpo {
    display: flex;
}

.caixa-corpo {
    height: 100%;
    width: 100vw;
    margin: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-publi {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publi {
    background: rgb(16, 16, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    height: fit-content;
    width: 500px;
    border-radius: 30px;
    border: 1px #262424 solid;
    padding-bottom: 20px;
    transition: .3s;
}

.orCima {
    display: flex;
    flex-direction: row;
}

.orCima .info-pequenas {
    margin-left: 20px;
}

.informações-cima {
    width: 100%;
    height: fit-content;
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.ic-home {
    display: flex;
    justify-content: space-between;
}

.informações-cima img {
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-left: 20px;
    border: 1px #555 solid;
}

.info-pequenas {
    height: 80px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apagaPubli {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    color: #555;
}

.titulo-publi {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
}

.link {
    color: #5aa7ff;
    font-size: 15px;
}

.humor {
    width: fit-content;
    height: fit-content;
    background-color: #555;
    padding: 6px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
}

#titulo {
    width: 100%;
    height: fit-content;
    word-break: break-word;
    text-align: justify;
    font-size: medium;
    font-weight: 300;
}

.imagem-principal {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
}

.imagem-principal iframe {
    border-radius: 20px;
    width: calc(100% - 40px);
    height: 300px;
}

.imagem-principal img {
    object-fit: cover;
    height: auto;
    width: calc(100% - 40px);
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}

.embed {
    border-radius: 20px;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 200;
}

.embed iframe {
    width: 100%;
}

.cxintera {
    height: fit-content;
    width:calc(100% - 40px);
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    justify-content: start;
    border-top: 1px #1f1f1f solid;
    margin: 10px 0 10px 0;
    padding-top: 10px;
}

.nLikes {
    color: #727171;
    font-size: medium;
    margin-left: 4px;
    padding-top: 6px;
    user-select: none;
}

.gostei {
    margin-left: 10px;
    color: #727171;
    cursor: pointer;
    font-size: 30px;
}

.comment {
    margin-left: 10px;
    color: #727171;
    cursor: pointer;
    font-size: 30px;
}

.gostei:hover, .comment:hover {
    color: #27709a;
}


.usuarios {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    top: 20px;
    right: 20px;
    position: fixed;
    color: #e1e1e1;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.usuarios h1 {
    border-bottom: 2px #555 solid;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    color: #68279A;
}


/* scroll barr */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #1f1f1f; */
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (width < 1100px) {
    .usuarios {
        display: none;
    }

    .icone {
        display: none;
    }

    .todos {
        width: 95%;
    }

    .caixa-corpo {
        margin-top: 0;
    }

    .caixa-publi {
        width: 100%;
    }

    .publi {
        width: 95%;
    }

    .nav {
        justify-content: space-around;
        flex-direction: row;
        position: relative;
        align-items: center;
        height: 100px;
        margin: 0 0 20px 0;
        padding: 20px 0 20px 0;
        width: 100%;
        background: rgba(101,101,101, .1);
        top: 0;
        left: 0;
    }

    ion-icon:hover {
        box-sizing:content-box;
        color: #e1e1e1;
        transform: scale(1.1);
    }

    .nav ion-icon {
        font-size: 34px;
        padding: 30px 40px;
    }

    .nav a {
        width: 33.3333%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (width < 600px) {
    a, p, h3{
        font-size: small;
    }

    .nav ion-icon {
        font-size: 34px;
        padding: 5px;
    }
    
    .caixa-corpo {
        margin-top: 0;
    }

    .caixa-publi {
        width: 100%;
    }

    .publi {
        width: 95%;
    }

    .info-pequenas {
        width: 60%;
    }

    .divLixo {
        margin-right: 0;
    }
}